:root {
    --primary-color: #FCEE09;
    --secondary-color: #54c1e6;
    --third-color: #39c4b6;
}

* {
    margin: 0;
    font-family: 'myFirstFont';
    font-weight: 400;
}



ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: var(--secondary-color)
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    
    text-transform: uppercase;
    background-color: #646613;
    padding: 1rem 1.75rem;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.nav-item {
    margin-left: 2rem
}

ul {
    display: flex;
    justify-content: space-between;
}

body {
    background-color: var(--primary-color);
}

h3 {
    color: #54c1e6;
    font-size: 36px;
}

.home, .about, .skills, .portfolio, .contact {
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home {
    font-size: large;
    font-family: "refinery-25";
    background-position: center;
    background-size: cover;
    font-size: 56px;
    background: linear-gradient(to bottom, #FCEE09 75%, hsl(0, 0%, 0%));
}

.about {
    background: black;
    color: white;
    font-size: large;
    color: var(--third-color);
    padding-right: 25%;
    padding-left: 25%;
}

.my-avatar {
    width: auto;
    height: 100dvh;
    background-position: center;
    background-size: cover;
}

img {
    width: auto;
    height: 100dvh;
}

.home .frame {
    flex-direction: column;
    height: auto;
}

.about .frame {
    flex-direction: column;
    height: auto;
}

.skills .frame {
    flex-direction: column;
    height: auto;
    background-color: #000000b2;
}
.portfolio .frame {
    flex-direction: column;
    height: auto;
    width: auto;
   
}

.skills {
    background: black;
    flex-direction: column;
}

.skills .frame {
    flex-direction: column;
}

.contact .frame{
    flex-direction: column;
    height: auto;
   
}

.avatar {
    width: 150px;
    height: 150px;
    border: 5px solid var(--secondary-color);
    margin: 25px;
}
.social-icon {
    width: 50px;
    height: 50px;
}

.social-links {
    margin-top: 25px;
}



.frame {
    width: 75%;
    height: 200px;
   
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.greeting {
    color: greenyellow;
    font-size: 36px;
}

.name, .welcome{
    color: #000000;
    font-weight: bold;
    font-size: 56px;
}

button {
    background-position:center;
    background-size:cover;
    background-color: transparent;
    height: 60px;
    width: 100px;
    background-image: url("https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

hr {
    border-top: 1px solid red;
    width: 100%;
    border-color: red;
}



.skills1 {
    margin-top: 20px;
    display: flex;
}

.skills1 hr {
    width: 1px;
    margin-left: 40px;
}
.skills-items {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.skill-item {
    width: 50px;
    height: 50px;
}

.portfolio-container {
    margin-top: 50px;
    display: flex;
    height:fit-content;
    gap: 6px;
    max-height: 200px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.portfolio-item {   
    width: 360px;
    height: 200px;
    background-color: blueviolet;
    padding: 10px;
    
   border: 4px solid black
}

.contact1 {
    padding: 12px 24px 24px 24px;
    margin: 48px 12px;
    background:  black;
    color: var(--third-color);
    border-radius: 12px;
}
.contact1 h3 {
    color: var(--secondary-color) !important;
}

label {
    font-size: 0.85em;
    margin-left: 12px;
}

input[type=text],input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #646613;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #646613;
    color: white;
    font-size: large;
    
}

input[type=submit] {
    color: black;
    background-color: #54c1e6;
}

textarea  {
    background-color: #646613;
    color: white;
    font-size: large;
}

.submit-button {
    text-align: center;
    
}

.contact {
    margin-top: 300px;
}

footer {
    border-top: 1px solid #000000;
    box-shadow: 0px -2px 3px #000000;
    text-align: center;
    padding: 2rem;
  }

@font-face {
    font-family: "myFirstFont";
    src: url("blender-pro-book.otf") format("opentype");;
}
@font-face {
    font-family: "refinery-25";
    src: url("refinery-25-medium.otf") format("opentype");;
}

.social-media-icons {
    font-size: 3rem;
}

.skills-items {
    font-size: 3rem;
    gap: 13px;
    justify-content: right;
    padding-left: 30%;
}
.skill-text {
    max-width: 30%;
    padding-right: 20%;
    padding-left: 10%;
    text-align: center;
    color: var(--third-color)
}

.portfolio h3 {
    color: black;
}
.contact h3 {
    color: black;
}





