:root {
    --primary-color: red;
    --secondary-color: blue;
}

* {
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color)
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: gray;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    margin-left: 2rem
}

ul {
    display: flex;
    justify-content: space-between;
}

.home, .about, .skills, .portfolio, .contact {
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.frame {
    width: 75%;
    height: 200px;
    background-color: blueviolet;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.greeting {
    color: greenyellow;
    font-size: 36px;
}




